html {
  --text-color: oklch(0.25 0.01 254);
  --secondary-text-color: oklch(0.5 0.02 248);
  --light-text-color: oklch(1 0 0);
  --page-background: oklch(1 0 0);
  --panel-background: oklch(0.98 0.004 248);
  --focus-color: oklch(0.66 0.17 256);
  --panel-border-color: oklch(0.88 0.013 254);
  --pressed-shadow:
    inset 0 0 0 0.5px oklch(0 0 0 / 5%), inset 0 1px 2px oklch(0 0 0 / 20%),
    inset 0 1px 4px oklch(0 0 0 / 20%);
  --line-pressed-shadow: none;
  --main-hover-background: oklch(0.96 0.005 248);
  --panel-hover-background: oklch(0.94 0.005 248);
  --approve-background: oklch(0.54 0.16 146);
  --approve-hover-background: oklch(0.57 0.16 146);
  --button-border: inset 0 0 0 1px oklch(0.88 0.013 248);
  --button-shadow:
    inset 0 1px 0 oklch(1 0 0 / 30%), inset 0 -1px 0 oklch(0 0 0 / 10%),
    0 1px 3px oklch(0 0 0 / 30%);
  --add-text-background: oklch(0.95 0.05 152);
  --remove-text-background: oklch(0.95 0.022 24);
  --keyword-color: oklch(0.6 0.2 20);
  --entity-color: oklch(0.5 0.2 295);
  --constant-color: oklch(0.5 0.18 258);
  --string-color: oklch(0.3 0.1 256);
  --variable-color: oklch(0.65 0.18 46);
  --comment-color: oklch(0.55 0.02 250);
  --tag-color: oklch(0.55 0.15 147);
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: oklch(0.97 0.01 248);
    --secondary-text-color: oklch(0.68 0.015 254);
    --page-background: oklch(0.18 0.015 254);
    --panel-background: oklch(0.11 0.019 248);
    --panel-border-color: oklch(0.38 0.02 254);
    --pressed-shadow:
      inset 0 -0.5px 0 oklch(1 0 0 / 20%), inset 0 1px 2px oklch(0 0 0 / 80%),
      inset 0 1px 4px oklch(0 0 0 / 80%);
    --line-pressed-shadow:
      inset 2px 1px 2px -2px oklch(0 0 0 / 80%),
      inset 4px 1px 4px -4px oklch(0 0 0 / 80%),
      inset -2px 1px 2px -2px oklch(0 0 0 / 80%),
      inset -4px 1px 4px -4px oklch(0 0 0 / 80%);
    --main-hover-background: oklch(0.25 0.015 254);
    --panel-hover-background: oklch(0.29 0.02 254);
    --button-border: inset 0 0 0 1px oklch(0.38 0.018 254);
    --button-shadow:
      inset 0 1px 0 oklch(1 0 0 / 30%), inset 0 -1px 0 oklch(0 0 0 / 30%),
      0 1px 2px oklch(0 0 0);
    --add-text-background: oklch(0.25 0.032 163);
    --remove-text-background: oklch(0.25 0.032 359);
    --keyword-color: oklch(0.7 0.17 25);
    --entity-color: oklch(0.8 0.12 305);
    --constant-color: oklch(0.8 0.1 246);
    --string-color: oklch(0.84 0.08 246);
    --variable-color: oklch(0.8 0.14 60);
    --comment-color: oklch(0.65 0.03 250);
    --tag-color: oklch(0.85 0.2 145);
  }
}
