html {
  --page-width: 40rem;
  --panel-height: 2.2rem;
  --sidebar-width: 17rem;
  --progress-stroke: 0.125rem;
  --big-control-height: 2rem;
  --control-height: 1.75rem;
  --safe-padding: 0.5rem;
  --radius: 0.25rem;
}
