name: Visual Test
on:
  schedule:
    - cron: '00 04 * * *' # Runs at midnight UTC every day
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - '*/*.md'
      - '.devcontainer/**'
permissions:
  contents: read
jobs:
  chromatic:
    name: Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            chromatic-builds.s3.us-west-2.amazonaws.com:443
            github.com:443
            index.chromatic.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            storybook.js.org:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Check if should run
        id: should_run
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            if git log -1 --pretty=%B | grep -i "Chromatic"; then
              echo "should_run=true" >> "$GITHUB_OUTPUT"
            else
              echo "should_run=false" >> "$GITHUB_OUTPUT"
            fi
          else
            now=$(date -u +%s)
            twenty_four_hours_ago=$((now - 86400))
            last_commit_time=$(git log -1 --format=%ct)
            if [ "$last_commit_time" -ge "$twenty_four_hours_ago" ]; then
              echo "should_run=true" >> "$GITHUB_OUTPUT"
            else
              echo "should_run=false" >> "$GITHUB_OUTPUT"
            fi
          fi
      - name: Install pnpm
        if: steps.should_run.outputs.should_run == 'true'
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Install Node.js
        if: steps.should_run.outputs.should_run == 'true'
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: pnpm
      - name: Install dependencies
        if: steps.should_run.outputs.should_run == 'true'
        run: pnpm install --ignore-scripts
      - name: Publish to Chromatic
        if: steps.should_run.outputs.should_run == 'true'
        uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13.3.4
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          buildScriptName: build-visual
          exitZeroOnChanges: true
          exitOnceUploaded: true
        env:
          STORYBOOK: '1'
